body {
  background: #0b2447;
  box-sizing: border-box;
  color: #f2f7a1;
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  gap: 10px;
  height: 100px;
  align-items: center;
}
svg {
  fill: #f2f7a1;
}
h1 {
  font-size: clamp(1.5rem, 5vw, 3rem);
}
